<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanchonete</title>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Content/bootstrapMhmuzy.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <br />
            <a href="../Forms/Portal.aspx"><font color="white">Sair</font></a>
            <table border align="right" bgcolor="black">
                <tr bgcolor="white">
                    <td><font face="arial" size="3">@DateTime.Now.DayOfWeek - @DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year  @DateTime.Now.Hour : @DateTime.Now.Minute Hrs</font></td>
                </tr>
            </table>

            @*Menu da Pagina*@

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <nav class="menu">
                        <ul>
                            <li>
                                <font face="arial" size="5">Usuario(a)</font>
                                <ul>
                                    <a href="../Usuario/ConsultaMotoboy"><li>Consultar</li></a>
                                </ul>
                            </li>
                            @*<li>
                                <font face="arial" size="5">Lanche(s)</font>
                            <ul>
                                    <a href="../Lanche/Cadastro"><li><font face="arial" size="5">Cadastrar Lanche(s)</font></li></a>
                                    <a href="ListLancheEdit.aspx"><li><font face="arial" size="5">Alterar</font></li></a>
                                    <a href="ListLancheExc.aspx"><li><font face="arial" size="5">Excluir</font></li></a>
                                    <a href="../Lanche/ConsultaAdministrador"><li><font fae="arial" size="5">Consultar</font></li></a>
                                </ul>*@
                            <li>
                                <font face="arial" size="5">Delivery</font>
                                 <ul>
                                    <a href="../Delivery/ConsultaMotoboy"><li>Consultar</li></a>
                                </ul>
                            </li>

                            @*<li>
                                <font face="arial" size="5">Fale Conosco</font>
                                <ul>
                                    <a href="../FaleConosco/ConsultaMotoboy"><li>Consultar</li></a>
                                </ul>
                            </li>*@
                    </nav>


                </ul>

            </div>

        </div>

    </div>

    <div class="container body-content">




        <form id="form1" runat="server">
            <div>
                <br /><br />
                @*<div class="menu-container">*@
                    @*Menu da Pagina Inicial*@
                    @*<ul class="menu clearfix">*@
                        @*<li>
                            <a href="#">Usuario(a)</a>*@
                            @*Menu do(a) Usuario(a)*@

                            @*<ul class="sub-menu clearfix">


                                <li><a href="../Usuario/ConsultaMotoboy">Consultar o(a) Usuario(a)</a></li>*@
                                @*Item de Consultar o(a) Usuario(a)*@
                            @*</ul>

                        </li>

                        <li>
                            <a href="#">Lanche(s)</a>*@
                            @*Menu Lanche*@
                            @*<ul class="sub-menu clearfix">


                                <li><a href="../Lanche/ConsultaMotoboy">Consultar o(s) Lanche(s)</a></li>*@
                                @*Item de Consultar Lanche*@
                            @*</ul>
                        </li>

                        <li>
                            <a href="#">Delivery</a>*@
                            @*Menu Delivery*@
                            @*<ul class="sub-menu clearfix">
                                <li><a href="../Delivery/ConsultaMotoboy">Consultar Delivery</a></li>*@
                                @*Item de Consultar o Delivery*@
                            @*</ul>
                        </li>

                        <li>
                            <a href="#">Fale Conosco</a>*@
                            @*Mneu do Fale Conosco*@
                            @*<ul class="sub-menu clearfix">
                                <li><a href="../FaleConosco/ConsultaMotoboy">Consultar o Fale Conosco</a></li>*@
                                @*Item de Consultar o Fale Conosco*@
                            @*</ul>

                        </li>


                    </ul>*@



                    <hr />
                    @*Divisoria da Pagina*@
                    <strong>Seja Bem Vindo a Aplicacao da Lanchonete!</strong>
                    @*Titulo da Pagina*@
                    <br />
                    <br />
                    @*Pula 2 linhas*@
                    Motoboy
                    @*Nome do Perfil do(a) Usuario(a)*@
                    <br />
                    <br />
                    @*Pula mais 2 linhas*@
                    <center><img src="~/Imagens/montar-uma-lanchonete-é-um-bom-negócio.jpg" width="850px" height="280px" /></center>
                    @*Imagem da Pagina*@
                    <br />
                </div>
        </form>
        <center>
            <footer>
                <p>&copy; @DateTime.Now.Year - Lanchonete</p>
            </footer>
        </center>
        @*Informacao da Pagina*@
</body>
</html>