@{
    ViewBag.Title = "Index";
    Layout = Request.Browser.IsMobileDevice ? "~/Views/Shared/_LayoutMobile.cshtml"
                                                    : "~/Views/Layout/Layout.cshtml";

}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Localização", "Localizacao", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Lanche", "Consulta", "Lanche", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Delivery", "Delivery", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Reservas", "Cadastro", "Reserva", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Contato", "Cadastro", "FaleConosco", new { area = "" }, new { @class = "navbar-brand" })
            <a href="~/Forms/Portal.aspx" class="navbar-brand">Area Restrita</a>
            @*Links do Layout*@
        </div>
        <br />
        <table border align="right" bgcolor="black">
            <tr bgcolor="white">
                <td><font face="arial" size="3">@DateTime.Now.DayOfWeek - @DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year  @DateTime.Now.Hour : @DateTime.Now.Minute Hrs</font></td>
            </tr>
        </table>
        @*Relogio da Pagina*@
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>
@*Layout da Pagina*@
<h2>Seja Bem vindo ao site da Lanchonete</h2>

<div class="container body-content">
    @*@RenderBody()*@
    <hr />
    @*Renderizacao*@
    <br />
    @*Pula mais 1 linha*@
    <center><img src="~/Imagens/montar-uma-lanchonete-é-um-bom-negócio.jpg" width="850px" height="280px" /></center>
    @*Imagem da Pagina Centralizada*@
    <br /><br />
    @*Pula 2 linhas*@
    <center><strong>A LANCHONETE MAIS COMPLETA E SURPREENDENTE DA CIDADE</strong></center>
    @*Titulo da Pagina*@
    <br />
    @*Pula mais 1 linha*@
    <center>
        Em ambiente descolado e urbano, a Lanchonete é completa. Com um cardápio <br />
        agora assinado e recheado de receitas que vão bem além dos sanduíches, <br />
        está sempre pronta para surpreender com boa comida em qualquer ocasião.
    </center>
    @*Texto da Pagina*@
    <br />
    @*Pula mais 1 linha*@
    <center>
        <footer>
            <p>&copy; @DateTime.Now.Year - Lanchonete</p>
        </footer>
    </center>
</div>
@*Ano da Atuacao da Pagina*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@*Aviso da Pagina*@