<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            @*@Html.ActionLink("Localização", "Localizacao", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            @*            @Html.ActionLink("Joias e Semi joias", "Consulta", "Lanche", new { area = "" }, new { @class = "navbar-brand" })*@
            @*@Html.ActionLink("Delivery", "Delivery", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Reservas", "Cadastro", "Reserva", new { area = "" }, new { @class = "navbar-brand" })*@
            @*@Html.ActionLink("Contato", "Cadastro", "FaleConosco", new { area = "" }, new { @class = "navbar-brand" })*@
            <a href="~/Home/Reservas" class="navbar-brand">Voltar</a>
</div></div>
            @*Links do Layout*@
        </div><br />
        @*Pula 2 linhas Para o Titulo da Pagina nao ficar muito em cima*@
        <strong><font face="arial" size="3">Cadastro de Sócio(a):</font></strong>
        @*Titulo da Pagina*@
        <br />
        <br />
        @*Pula 2 linhas*@

        @*Layout da Pagina*@
        @model Projeto.Apresentacao.Models.ReservaCadastroViewModel
        @*Model da Pagina*@
        @using (Html.BeginForm())
        {
            @*Formulario no MVC*@
            <table>
                <tr>
                    <td>
                        <font face="arial" size="3" color="black">Nome:</font>
                    </td>
                    <td align="left">
                        <div style="margin-left:1em">
                            @Html.TextBoxFor(Model => Model.Nome, new { @Class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr style="margin-top:7em">
                    <td>
                        <div style="margin-top:1em">
                            <font face="arial" size="3" color="black">Telefone:</font>
                        </div>
                    </td>
                    <td align="left">
                        <div style="margin-left:1em">
                            <div style="margin-top:1em">
                                @Html.TextBoxFor(model => model.Telefone, new { @Class = "form-control" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="margin-top:7em">
                    <td>
                        <div style="margin-top:1em">
                            <font face="arial" size="3" color="black">Celular:</font>
                        </div>
                    </td>
                    <td align="left">
                        <div style="margin-left:1em">
                            <div style="margin-top:1em">
                                @Html.TextBoxFor(model => model.Descricao, new { @Class = "form-control" })
                                @*Campo E - mail do(a) Usuario(a) que vai fazer a Reserva*@
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="margin-top:7em">
                    <td>
                        <div style="margin-top:1em">
                            <font face="arial" size="3" color="black">E - mail:</font>
                        </div>
                    </td>
                    <td align="left">
                        <div style="margin-left:1em">
                            <div style="margin-top:1em">
                                @Html.TextBoxFor(model => model.Email, new { @Class = "form-control" })
                                @*Campo E - mail do(a) Usuario(a) que vai fazer a Reserva*@
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="margin-top:7em">
                    <td>
                        <div style="margin-top:1em">
                            <font face="arial" size="3" color="black">Cpf:</font>
                        </div>
                    </td>
                    <td align="left">
                        <div style="margin-left:1em">
                            <div style="margin-top:1em">
                                @Html.TextBoxFor(model => model.Cpf, new { @Class = "form-control" })
                                @*Campo E - mail do(a) Usuario(a) que vai fazer a Reserva*@
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="margin-top:7em">
                    <td>
                        <div style="margin-top:1em">
                            <font face="arial" size="3" color="black">Endereço:</font>
                        </div>
                    </td>
                    <td align="left">
                        <div style="margin-left:1em">
                            <div style="margin-top:1em">
                                @Html.TextBoxFor(model => model.Endereco, new { @Class = "form-control" })
                                @*Campo E - mail do(a) Usuario(a) que vai fazer a Reserva*@
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div style="margin-top:1em">
                            <input type="submit" class="btn btn-primary btn-sm" value="Cadastrar Sócio(a)" />
                        </div>
                    </td>
                </tr>
            </table>
            @*Botao de Efetuar a Reserva*@
            <hr />

            <strong><font face="arial" size="3" color="black">@ViewBag.Message</font></strong>
            @*Mensagem da Pagina*@

        }
        