<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>With Love</title>
</head>
<body class="container">
    <br /><br />


    @*Layout da Pagina*@
    <strong><font face="arial" size="3">Consulta de Sócio(a)(s)!</font></strong>
    @*Titulo da Pagina*@
    <br />
    @*Pula mais 1 linha*@
    <center><a href="~/Home/Reservas"><font face="arial" size="3" color="black">Voltar</font></a></center>
    @*Link de voltar*@
    <hr />

    @model List<Projeto.Apresentacao.Models.SocioConsultaViewModel>
    @*Model da Pagina*@
    <div>
        <strong><font face="arial" size="3" color="black">@ViewBag.Message</font></strong>
        @*Mensagem da Pagina*@
    </div>

    <table class="table table-bordered table-hover">
        @*Inicializacao da Tabela de REsultado*@
        <thead align="center">
            <tr bgcolor="gray" align="center">
                @*Inicio do Titulo da Pagina*@
                <th><font face="arial" size="3" color="black">Matrícula</font></th>
                @*Campo Login do(a) Usuario(a)*@
                <th><font face="arial" size="3" color="black">Nome</font></th>
                @*Campo Senha do(a) Usuario(a)*@
                <th><font face="arial" size="3" color="black">Telefone</font></th>
                <th><font face="arial" size="3" color="black">Celular</font></th>
                <th><font face="arial" size="3" color="black">Cpf</font></th>
                <th><font face="arial" size="3" color="black">E - mail</font></th>
                <th><font face="arial" size="3" color="black">Endereço</font></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @*Item de Informacao da Pagina*@
                <td><font face="arial" size="3" color="black">@item.Matricula</font></td>
                @*Informacao Login do(a) Usuario(a)*@
                <td><font face="arial" size="3" color="black">@item.Nome</font></td>
                @*Informacao Senha do(a) Usuario(a)*@
                <td><font face="arial" size="3" color="black">@item.Telefone</font></td>
                <td><font face="arial" size="3" color="black">@item.Celular</font></td>
                <td><font face="arial" size="3" color="black">@item.Cpf</font></td>
                <td><font face="arial" size="3" color="black">@item.Email</font></td>
                <td><font face="arial" size="3" color="black">@item.Endereco</font></td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11" bgcolor="light-gray">
                    <font face="arial" size="3" color="black">Quantidade de Usuários: @Model.Count</font>
                </td>
            </tr>
            @*Quantidade de Usuarios*@
        </tfoot>
    </table>
</body>
</html>